
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import './ballots';

// Sets the path to the webfont TTFs for Font-Awesome styles
$fa-font-path:        "/webfonts";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.text-s8 { font-size: 8px; }
.text-s10 { font-size: 10px; }
.text-s12 { font-size: 12px; }
.text-s14 { font-size: 14px; }
.text-s16 { font-size: 16px; }
.text-s18 { font-size: 18px; }

.cursor-point { cursor: pointer; }
.cursor-help { cursor: help; }

html,
body {
    margin: 0;
    height: 100%;
    background-color: #f5f5f5;
}



div.wrap {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;

    min-height: 100%;
    margin-bottom: -23px;
}
div.push {
    height: 20px;
}
.footer {
    height: 20px;
}



div.entry-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.entry {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.entry .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.entry .form-control:focus {
    z-index: 2;
}
