

div.ballot {

    .candidate {
        background-color: rgb(250, 255, 255);
        border-radius: 5px;
        padding: 8px 15px;
        margin: 5px 0;
        border: 1px solid rgb(220,220,220);

        &:hover {
            border: 1px solid rgb(210,210,210);
        }

        &.simple {
            &:not(.scaled) {
                cursor: pointer;
            }
        }

        &.approval {
            input::-webkit-inner-spin-button {
                /* display: none; <- Crashes Chrome on hover */
                -webkit-appearance: none;
                margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
            }

            .vote_total {
                padding: 0 10px;
                border: 1px solid green;
            }
        }

        &.voted {
            background-color: rgb(212, 255, 209);
            border: 1px solid rgb(62, 138, 55);
        }

        .name {
            font-size: 18px;
        }

        &.add {
            background-color: rgb(235, 242, 255);
            border: 1px solid rgb(118, 116, 253);

            &:hover {
                background-color: rgb(221, 239, 255);
                border: 1px solid rgb(34, 16, 105);
            }
        }
    }

    .fas, .far {
        &.large {
            font-size: 24px;
            transition: transform 2s;
        }
    }


}
