<template>
    <div class="candidate-list">
        <div v-if="live_ballot.polls_open && !live_ballot.hasVoted">

            <div v-for="candidate in live_candidates" :key="candidate.uuid" class="row justify-content-between candidate approval">
                <div class="name col-6 col-md-9">{{candidate.name}}</div>
                <div class="col-6 col-md-3 text-lg-right px-0">
                    <span class="btn btn-primary btn-sm" @click="addVote(candidate.uuid)">
                        <span class="fas fa-plus-circle"></span>
                    </span>
                    <span class="vote_total">{{getVandidateVotes(candidate.uuid)}}</span>
                    <span class="btn btn-primary btn-sm" @click="removeVote(candidate.uuid)">
                        <span class="fas fa-minus-circle"></span>
                    </span>
                </div>
            </div>



            <div v-if="ballot.write_in">

                <div v-if="!adding_candidate" class="row justify-content-between candidate add" @click.prevent="adding_candidate=true">
                    <div class="name">Add write-in option</div>
                    <div>
                        <span class="fas fa-plus-square large"></span>
                    </div>
                </div>

                <div v-if="adding_candidate" class="input-group mb-3">
                    <input type="text" class="form-control" name="name" placeholder="Write-in option" aria-label="Option Name" aria-describedby="button-addon2" v-model="new_candidate" autofocus>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="creationOption" @click.prevent="addCandidate()">Add</button>
                        <button class="btn btn-outline-secondary" type="button" id="canCreateOption" @click.prevent="adding_candidate=false, new_candidate=null">
                            <span class="fas fa-times-circle"></span>
                        </button>
                    </div>
                </div>

            </div>



            <div class="mt-4 d-flex flex-column flex-md-row">
                <div class="p-2 flex-fill">
                    <input type="text" v-model="token.name" class="form-control" placeholder="Your Name" />
                </div>

                <div class="p-2">
                    <button type="button" class="btn btn-primary w-100" :disabled="voted === null" @click.prevent="castBallot()"> <span class="fas fa-envelope-open-text mr-1"></span> Cast vote</button>
                </div>
            </div>

            <div class="row justify-content-end pr-3">

            </div>
        </div>

        <div v-if="!live_ballot.polls_open">
            Voting is not paused
        </div>

        <div v-if="live_ballot.hasVoted === true">
            <h5>Your vote has been cast</h5>
            <span>Results for this vote will be available as soon as the creator tallies the voter roll.</span>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            campaign: Object,
            ballot: Object,
            candidates: Array,
            token: Object
        },
        data: function() {
            return {
                voted: null,
                interval: null,
                live_candidates: [],
                live_ballot: {},
                adding_candidate: false,
                new_candidate: null,
                start_time: 0,
                votes: []
            }
        },
        mounted() {

            this.live_candidates = this.candidates; // Setup start of live candidates
            this.live_ballot = this.ballot;         // Setup start of live ballot
            this.start_time = (new Date).getTime(); // Set start of time at poll

            // Determine max votes and max per candidate
            this.token_max_votes = (this.ballot.type_settings.approval_token_max_votes !== null) ? parseInt(this.ballot.type_settings.approval_token_max_votes) : this.candidates.length;
            this.candidate_max_votes = (this.ballot.type_settings.approval_candidate_max_votes !== null) ? parseInt(this.ballot.type_settings.approval_candidate_max_votes) : this.candidates.length;

            for(let i=0; i< this.live_candidates.length; i++) {
                this.live_candidates[i].votes =0;
            }

            this.ballot.candidates.forEach((value) => {
                this.$data.votes[value.uuid] = 0;
            });

            // Start Polling
            this.interval = setInterval(() => {
                this.checkState();
            }, 2000);
        },
        methods: {
            // Get state of ballot
            checkState() {
                axios
                    .get('/api/campaign/' + this.campaign.slug + '/ballot/' + this.ballot.slug)
                    .then(response => {
                        this.live_candidates = response.data.ballot.candidates;
                        this.live_ballot = response.data.ballot;

                        let vote_keys = Object.keys(this.$data.votes);

                        for(let i=0; i < response.data.ballot.candidates.length; i++) {
                            if(vote_keys.indexOf(response.data.ballot.candidates[i].uuid) === -1) {
                                this.$data.votes[response.data.ballot.candidates[i].uuid] = 0;
                            }
                        }

                        this.checkLimits();

                        if(response.data.ballot.complete) location.reload();
                    })
            },

            // Add Candidate to ballot
            addCandidate() {
                axios
                    .post('/api/campaign/' + this.campaign.slug + '/ballot/' + this.ballot.slug + '/candidate', {name: this.new_candidate})
                    .then(response => {
                        this.new_candidate = null;
                        this.adding_candidate = false;

                        this.live_candidates.push(response.data);
                        this.$data.votes[response.data.uuid] = 0;

                        this.checkLimits();
                    })
            },

            // Cast a vallot
            castBallot() {
                let votes = [];

                Object.keys(this.$data.votes).forEach((key) => {
                    votes.push({
                        candidate: key,
                        count: this.$data.votes[key]
                    });
                });

                let data = {
                    votes: votes,
                    time_at_poll: Math.round(((new Date).getTime() - this.start_time) / 1000),
                    name: this.token.name
                };

                axios
                    .post('/api/campaign/' + this.campaign.slug + '/ballot/' + this.ballot.slug + '/vote', data)
                    .then(response => {
                        this.live_ballot = response.ballot;
                    })
            },

            // Add Vote to Candidate
            addVote(uuid) {

                if((this.votes[uuid] + 1) > this.candidate_max_votes) return alert('Votes per candidate maxed out!');
                this.votes = {
                    ...this.votes,
                    [uuid]: this.votes[uuid] + 1
                };

                if(!this.checkMax()) {
                    this.votes[uuid]--;
                    alert('Maxed out your total votes!');
                }
            },

            // Remove Vote from Candidate
            removeVote(uuid) {
                if(this.votes[uuid] === 0) return;
                this.votes = {
                    ...this.votes,
                    [uuid]: this.votes[uuid] - 1
                };

            },

            // Check Values on Change
            checkMax() {
                let total = 0;

                Object.keys(this.$data.votes).forEach((key) => {
                    total = (total + this.$data.votes[key]);
                });

                this.voted = (total > 0);

                return (total < (this.token_max_votes+1));
            },

            getVandidateVotes(uuid) {
                return this.votes[uuid];
            },

            checkLimits() {
                // Determine max votes and max per candidate
                this.token_max_votes = (this.ballot.type_settings.approval_token_max_votes !== null) ? parseInt(this.ballot.type_settings.approval_token_max_votes) : this.candidates.length;
                this.candidate_max_votes = (this.ballot.type_settings.approval_candidate_max_votes !== null) ? parseInt(this.ballot.type_settings.approval_candidate_max_votes) : this.candidates.length;

            }
        }
    }
</script>
