<template>
    <div>
        <div class="list-group-item list-group-item-primary createOptionLink">
            <a href="#" @click.prevent="openCreateCandidate()">Add new option</a>
        </div>
        <div class="d-none candidate-form">
            <form method="post" v-bind:action="'/campaign/'+campaign.slug+'/ballot/' + ballot.slug + '/candidate'">

                <input type="hidden" name="_token" v-bind:value="csrf" />

                <div class="input-group mb-3">
                    <input id="writeInCandidate" type="text" class="form-control" name="name" placeholder="Option Name" aria-label="Option Name" aria-describedby="button-addon2" autofocus>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" id="creationOption">Add</button>
                        <button class="btn btn-outline-secondary" type="button" id="canCreateOption" @click.prevent="cancelCreateCandidate()">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            campaign: Object,
            ballot: Object,
            csrf: String
        },
        data: function() {
            return {
                type: 'simpleVote'
            }
        },
        mounted() {

        },
        methods: {
            openCreateCandidate() {
                $('.candidate-form').removeClass('d-none');
                $('.createOptionLink').addClass('d-none');

            },
            cancelCreateCandidate() {
                $('.candidate-form').addClass('d-none');
                $('.createOptionLink').removeClass('d-none');
            }
        }
    }
</script>
