<template>
    <div>
        <div class="list-group-item list-group-item-primary">
            <a href="#" @click.prevent="openCreateBallot()">Create new Motion</a>
        </div>
        <div class="modal fade" id="openCreateBallot" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <form method="post" v-bind:action="'/campaign/'+campaign.slug+'/ballot'">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="_token" v-bind:value="csrf" />
                        <input type="hidden" name="type" v-bind:value="type" />
                        <div class="form-group">
                            <label for="name">Motion Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Name" />
                        </div>


                        <div class="list-group create-ballot-list">
                            <a href="#" id="simpleVoteItem" class="list-group-item list-group-item-action flex-column align-items-start active" @click.prevent="selectType('simpleVote')">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><span class="fas fa-pencil-alt mr-1"></span> Simple Vote</h5>
                                </div>
                                <p class="mb-1 item-detail">
                                    <span class="">
                                        The simplest voting system available. One person, one vote. Great for when you have to make a quick decision
                                    </span>
                                </p>
                            </a>

                            <a href="#" id="approvalVoteItem" class="list-group-item list-group-item-action flex-column align-items-start" @click.prevent="selectType('approvalVote')">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><span class="fas fa-thumbs-up mr-1"></span> Approval Vote</h5>
                                </div>
                                <p class="mb-1 item-detail">
                                    <span class="d-none">
                                        Having trouble deciding between different options? Then this is the voting system for you. Select as many or as few options as you want. Good for determining which option most people would be happy with
                                    </span>
                                </p>
                            </a>

                            <a href="#" id="pointVoteItem" class="list-group-item list-group-item-action flex-column align-items-start" @click.prevent="selectType('pointVote')">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><span class="fas fa-tasks mr-1"></span> Point Vote</h5>
                                </div>
                                <p class="mb-1 item-detail">
                                    <span class="d-none">
                                        Having trouble deciding between different options? Then this is the voting system for you. Select as many or as few options as you want. Good for determining which option most people would be happy with
                                    </span>
                                </p>
                            </a>

                            <a href="#" id="scaledVoteItem" class="list-group-item list-group-item-action flex-column align-items-start" @click.prevent="selectType('scaledVote')">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><span class="fas fa-sliders-h mr-1"></span> Scaled Vote</h5>
                                </div>
                                <p class="mb-1 item-detail">
                                    <span class="d-none">
                                        This voting system allows you to evaluate each option on its own merit. The winner will be the option with the highest average rating. Good for finding the option that most people would be most happy with but is susceptible to tactical voting
                                    </span>
                                </p>
                            </a>

                            <a href="#" id="preferentialVoteItem" class="list-group-item list-group-item-action flex-column align-items-start" @click.prevent="selectType('preferentialVote')">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><span class="fas fa-list-ol mr-1"></span> Preferential Vote</h5>
                                </div>
                                <p class="mb-1 item-detail">
                                    <span class="d-none">
                                        Tired of worrying about how other people will vote? This option completely eliminates tactical voting. If your favourite option is not selected your vote is automatically transferred to your second preference. A fair and balanced voting system
                                    </span>
                                </p>
                            </a>
                        </div>

                        <div id="approvalVoteOptions" class="d-none mt-2">
                            <div class="form-group">
                                <label for="approval_token_max_votes">Max Votes Per Person</label>
                                <input type="number" id="approval_token_max_votes" name="approval_token_max_votes" class="form-control" placeholder="Leave blank for maximum" />
                                <small class="form-text text-muted">The maximum number of votes a person can cast across all voting options</small>
                            </div>

                            <div class="form-group">
                                <label for="approval_candidate_max_votes">Max Votes Per Options</label>
                                <input type="number" id="approval_candidate_max_votes" name="approval_candidate_max_votes" class="form-control" placeholder="Leave blank for maximum" />
                                <small class="form-text text-muted">The maximum number of votes a person can cast for any given option</small>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Ballot</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            campaign: Object,
            csrf: String
        },
        data: function() {
            return {
                type: 'simpleVote'
            }
        },
        mounted() {
            $('#accordionExample').on('shown.bs.collapse', function (event) {
                // console.log('Selected Option', event.target.attr('aria-labelledby'));
                console.log('Selected Option', event.target.getAttribute('aria-labelledby'));
                let selected_type = event.target.getAttribute('aria-labelledby').substring(0, event.target.getAttribute('aria-labelledby').length - 6);
                console.log('Processed option: ', selected_type);
            })
        },
        methods: {
            openCreateBallot() {
                $('#openCreateBallot').modal('show');

            },
            selectType(type) {
                let listItems = $('.create-ballot-list');

                listItems.children('a').removeClass('active');
                listItems.children('a').children('.item-detail').children('span').addClass('d-none');

                let selectListItem = $('#' + type + 'Item');

                this.$data.type = type;

                selectListItem.addClass('active');
                selectListItem.children('.item-detail').children('span').removeClass('d-none');

                if(type === 'approvalVote') {
                    $('#approvalVoteOptions').removeClass('d-none');
                } else {
                    $('#approvalVoteOptions').addClass('d-none');
                }

            }
        }
    }
</script>
