<template>
    <div>
        <h5>Ballot Results</h5>
        <hr />
        <div class="results-chart"></div>

        <h5>Voter Roll</h5>
        <hr />
        <div class="flex-row">
            <span v-once :class="'badge badge-' + pickBadgeColour() + ' mx-1 py-1 px-2 cursor-point'" v-for="vote in ballot.voter_roll" data-toggle="tooltip" :title="'Took ' + vote.time_at_poll + ' seconds to cast their ballot.'">{{vote.token.name}}</span>
        </div>
    </div>
</template>

<script>
    import ApexCharts from 'apexcharts'

    export default {
        props: {
            campaign: Object,
            ballot: Object,
            candidates: Array,
            token: Object,
            results: Array
        },
        data: function() {
            return {
                voted: null,
                interval: null,
                adding_candidate: false,
                new_candidate: null,
                start_time: 0,
                colour_position: 0
            }
        },
        mounted() {

            console.log('Campaign', this.campaign);
            console.log('Ballot', this.ballot);
            console.log('Candidates', this.candidates);
            console.log('Token', this.token);
            console.log('Results', this.results);

            let series_data = [];
            let categories = [];

            this.results.forEach(function(s) {
                series_data.push(s.total_votes);
                categories.push( (s.name) ? s.name : 'Anonymous');
            });

            let options = {
                chart: {
                    height: 350,
                    type: 'bar',
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                    }
                },
                dataLabels: {
                    enabled: true,
                    textAnchor: 'start'
                },
                series: [{
                    name: "Votes",
                    data: series_data
                }],
                xaxis: {
                    categories: categories,
                    tickAmount: 1
                },
                yaxis: {

                },
                tooltip: {

                }
            }

            var chart = new ApexCharts(
                document.querySelector(".results-chart"),
                options
            );

            chart.render();

        },
        methods: {
            pickBadgeColour() {
                let colours = [
                    'primary', 'secondary', 'danger', 'success', 'warning', 'info', 'dark'
                ];
                if(this.colour_position > colours.length) this.colour_position = 0;
                this.colour_position = this.colour_position + 1;

                return colours[this.colour_position];
            }
        }
    }
</script>
