<template>
    <div class="candidate-list">
        <div v-if="live_ballot.polls_open && !live_ballot.hasVoted">
            <div v-for="candidate in live_candidates" class="row justify-content-between candidate simple" @click.prevent="selectCandidate(candidate.uuid, $event)">
                <div class="name">{{candidate.name}}</div>
                <div>
                    <span class="far fa-square large"></span>
                </div>
            </div>

            <div v-if="ballot.write_in">

                <div v-if="!adding_candidate" class="row justify-content-between candidate add" @click.prevent="adding_candidate=true">
                    <div class="name">Add write-in option</div>
                    <div>
                        <span class="fas fa-plus-square large"></span>
                    </div>
                </div>

                <div v-if="adding_candidate" class="input-group mb-3">
                    <input type="text" class="form-control" name="name" placeholder="Write-in option" aria-label="Option Name" aria-describedby="button-addon2" v-model="new_candidate" autofocus>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="creationOption" @click.prevent="addCandidate()">Add</button>
                        <button class="btn btn-outline-secondary" type="button" id="canCreateOption" @click.prevent="adding_candidate=false, new_candidate=null">
                            <span class="fas fa-times-circle"></span>
                        </button>
                    </div>
                </div>

            </div>

            <div class="mt-4 row">
                <div class="col-9">
                    <input type="text" v-model="token.name" class="form-control" placeholder="Your Name" />
                </div>

                <div class="col-3">
                    <button type="button" class="btn btn-primary w-100" :disabled="voted === null" @click.prevent="castBallot()"> <span class="fas fa-envelope-open-text mr-1"></span> Cast vote</button>
                </div>
            </div>

            <div class="row justify-content-end pr-3">

            </div>
        </div>

        <div v-if="!live_ballot.polls_open">
            Voting is not paused
        </div>

        <div v-if="live_ballot.hasVoted === true">
            <h5>Your vote has been cast</h5>
            <span>Results for this vote will be available as soon as the creator tallies the voter roll.</span>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            campaign: Object,
            ballot: Object,
            candidates: Array,
            token: Object
        },
        data: function() {
            return {
                voted: null,
                interval: null,
                live_candidates: [],
                live_ballot: {},
                adding_candidate: false,
                new_candidate: null,
                start_time: 0
            }
        },
        mounted() {
            this.live_candidates = this.candidates; // Setup start of live candidates
            this.live_ballot = this.ballot;         // Setup start of live ballot
            this.start_time = (new Date).getTime(); // Set start of time at poll

            // Start Polling
            this.interval = setInterval(() => {
                this.checkState();
            }, 2000);
        },
        methods: {
            // Set Ballot
            selectCandidate(uuid, e) {
                this.voted = uuid;

                // Reset all candidate ballot markings
                $('.candidate-list .candidate').removeClass('voted');
                $('.candidate-list .candidate').children('div').children('.far').addClass('fa-square');
                $('.candidate-list .candidate').children('div').children('.far').removeClass('fa-check-square');

                // Mark current ballot
                if(!$(e.target).hasClass('candidate')) {
                    $(e.target).parent().addClass('voted');
                } else {
                    $(e.target).addClass('voted');
                }

                $(e.target).children('div').children('.far').removeClass('fa-square');
                $(e.target).children('div').children('.far').addClass('fa-check-square');
            },

            // Get state of ballot
            checkState() {
                axios
                    .get('/api/campaign/' + this.campaign.slug + '/ballot/' + this.ballot.slug)
                    .then(response => {
                        this.live_candidates = response.data.ballot.candidates;
                        this.live_ballot = response.data.ballot;

                        if(response.data.ballot.complete) location.reload();
                    })
            },

            // Add Candidate to ballot
            addCandidate() {
                axios
                    .post('/api/campaign/' + this.campaign.slug + '/ballot/' + this.ballot.slug + '/candidate', {name: this.new_candidate})
                    .then(response => {
                        this.new_candidate = null;
                        this.adding_candidate = false;

                        this.live_candidates.push(response.data);
                    })
            },

            // Cast a vallot
            castBallot() {

                console.log(this.token);

                axios
                    .post('/api/campaign/' + this.campaign.slug + '/ballot/' + this.ballot.slug + '/vote',
                        {
                            candidate: this.voted,
                            time_at_poll: Math.round(((new Date).getTime() - this.start_time) / 1000),
                            name: this.token.name
                        })
                    .then(response => {
                        this.live_ballot = response.ballot;
                    })
            }
        }
    }
</script>
